= set_title title
= form_for [category, subcategory], html: { role: 'form'} do |f|
  .form-group
    = f.label :name, for: 'name'
    = f.text_field :name, id: 'name'

  %button.btn.btn-default{type: 'submit'}
    = button_text
