.subcategory-list-item{'data-subcategory-id' => subcategory.id, id: "subcategory-#{subcategory.id}"}
  .thumbnail
    - if user_signed_in?
      .subcategory-handle
    .caption
      %h3.category-title
        = link_to subcategory.name, subcategory, class: 'subcategory-title'
        = edit_subcategory_dropdown(subcategory)
      .list-group.link-list.clearfix
        - subcategory.links.each do |link|
          - if defined?(detailed) && detailed
            = render_link link, type: :medium, buttons: true, category: true
          - else
            = render_link link, type: :medium, buttons: true
