.subcategory-list-item{'data-subcategory-id' => subcategory.id, id: "subcategory-#{subcategory.id}", 'data-reorder-links-path' => subcategory_reorder_links_path(subcategory)}
  .thumbnail.subcategory-box
    - if admin_signed_in?
      .subcategory-handle
    .caption
      %h3.category-title
        = link_to subcategory, class: 'subcategory-title' do
          = subcategory
          %small.category-more-caption (more)
        = edit_subcategory_dropdown(subcategory)
      .list-group.link-list.clearfix
        - subcategory.ordered_links.each do |link|
          - if defined?(detailed) && detailed
            = render_link link, type: :medium, buttons: true, category: true
          - else
            = render_link link, type: :medium, buttons: true
