= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f|
  = f.form_group do
    %h1 Forgot your password?
  = devise_error_messages!
  = f.email_field :email, autofocus: true
  = f.form_group do
    = f.submit "Send me reset password instructions"
  = f.form_group do
    = render "devise/shared/links"
