- if user_signed_in?
  .vote_buttons
    = link_to upvote_link_path(link), method: :post do
      = glyphicon 'arrow-up'
    .link-votes= link.score
    = link_to downvote_link_path(link), method: :post do
      = glyphicon 'arrow-down'
