= set_title title
- form_for_record = defined?(subcategory) ? [subcategory, link] : link
.col-md-6
  = bootstrap_form_for form_for_record, html: { role: 'form'} do |f|
    = f.text_field :title, id: 'title'
    = f.text_field :url, id: 'url'
    = f.text_field :tag_list, id: 'tag_list'
    = f.text_field :author
    = f.text_area  :description

    = f.fields_for :promo_announcement, @link.promo_announcement do |promo_form|
      = promo_form.check_box :is_visible, label: 'Show home page announcement'
      = promo_form.text_field :message, id: 'message', label: 'Announcement title'

    = f.submit button_text
