%span
  %a{href: link.url}= link.title
  = edit_link_button(link)
  %span.link-buttons
    = render partial: 'links/reading_list_button', locals: { link: link }
    = render partial: 'links/vote_buttons', locals: { link: link }
    = render partial: 'links/votes', locals: { link: link }
