%span
  %a{href: link.url}= link.title
  = render partial: 'links/reading_list_button', locals: { link: link }
  = render partial: 'links/vote_buttons', locals: { link: link }
  = render partial: 'links/votes', locals: { link: link }
  = edit_link_button(link)
