.col-lg-4.col-md-4.col-sm-6.col-xs-12.category-grid-item{id: "category-#{category.id}", 'data-category-id' => category.id}
  - if admin_signed_in?
    .category-handle
  .thumbnail.category-box
    .caption
      %h3.category-title
        = link_to category, class: (category.hidden ? 'hidden-category' : '') do
          = category
      %p
        %ul.links-list
          - category.links.order(created_at: :desc).first(5).each do |link|
            %li
              = render_link link, buttons: false
      = link_to category, class: (category.hidden ? 'hidden-category' : '') do
        .category-more-caption (more)
