- if user_signed_in?
  %li.dropdown.log-in-dropdown
    %a.dropdown-toggle(href='#' data-toggle="dropdown")
      = current_user.email
      - if current_user.is_admin
        (Admin)
      %b.caret
    %ul.dropdown-menu
      - if admin_signed_in?
        %li
          = link_to 'Import links', import_links_form_path
        %li.divider
        %li
          = link_to 'Recent links', recent_links_path
        %li
          = link_to 'Links without titles', links_without_titles_path
        %li.divider
      %li
        = link_to 'Log out', destroy_user_session_path, method: :delete
- else
  %li
    = link_to 'Log in/Register', new_user_session_path, class: ''
