!!!
%html
  %head
    %title Startup Scriptures
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if content_for? :before_content
      = yield :before_content

    = flash_messages

    .container
      = yield :container_content

    - if content_for? :after_content
      = yield :after_content
