- content_for :before_content do
  = render 'layouts/navbar'
  = render 'layouts/categories_header'

- content_for :container_content do
  = yield

- content_for :after_content do
  = render partial: 'layouts/footer'

= render template: 'layouts/application'
